# 0. Exploratory data analysis

## 0.1 Import and clean data

First we need divide dataset into two part: features and targets.
features: Fresh, Milk, Grocery, Frozen, Detergents_Paper and Delicassen.
tagets: Region and Channel

In [16]:
import numpy as np
import pandas as pd

wholesale_data = pd.read_csv('/Users/zklou/4404/4404A2/Wholesale customers data.csv')
wholesale_data.drop(['Channel', 'Region'], axis = 1, inplace = True)
print("There's {} samples and {} features in dataset".format(*wholesale_data.shape))

display(wholesale_data.describe())

There's 440 samples and 6 features in dataset

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

For those features, the gap from biggest to smallest from 25% to 75% is 
Fresh-> Grocery-> Milk-> Detergents_Paper-> Frozen-> Dellcassen.

## 0.2 Then we pick some random data as samples

In [18]:
ramdom_data = [11,99,222,333]
samples = pd.DataFrame(wholesale_data.loc[ramdom_data], columns = wholesale_data.keys()).reset_index(drop = True)
display(samples)

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0  13146  1124     4523    1420               549         497
1   9658  2182     1909    5639               215         323
2   5041  1115     2856    7496               256         375
3   8565  4980    67298     131             38102        1215

1 fresh store -- factoy  
2 fresh frozen store --restaurant
3 fresh frozen store --restaurant
4 grocery detergents_paper store --hotel