In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

penguins_size = pd.read_csv('/Users/zklou/4404/4404A1/penguins_size.csv')
penguins_size.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [5]:
cat_feat = ['culmen_length_mm','culmen_depth_mm','flipper_length_mm','body_mass_g','sex']
penguins_size.drop(cat_feat, axis=1, inplace=True)
penguins_size.head()

  species     island
0  Adelie  Torgersen
1  Adelie  Torgersen
2  Adelie  Torgersen
3  Adelie  Torgersen
4  Adelie  Torgersen

In [6]:
penguins_size.describe()

       species  island
count      344     344
unique       3       3
top     Adelie  Biscoe
freq       152     168

In [11]:
sum1 = np.sum(penguins_size.species=='Adelie')
sum2 = np.sum(penguins_size.species=='Chinstrap')
sum3 = np.sum(penguins_size.species=='Gentoo')

print(sum1,sum2,sum3)

152 68 124